/* admin.css */
#sidebar {
    border-radius: 7px;
    background-color: #ffffff;
}

#sidebar-title {
    border-bottom: rgba(58, 8, 107, 0.25) 0.5px solid;
}

.category-list-item {
    border-bottom: rgba(58, 8, 107, 0.25) 0.5px solid;
    padding: 17px 0;
}

.law-details {
    border: none;
    border-radius: 10px;
}

#lawlist {
    flex: 1;
    border-radius: 10px;
    background-color: #ffffff;
}

#lawlist-title {
    border-bottom: rgba(58, 8, 107, 0.25) 0.5px solid;
}

.list-group-item {
    border: none;
    background-color: transparent;
}

.list-group-item.active{
    border: none;
    background-color: transparent;
    color: #3A086B;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}